#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    a {
      text-decoration: none;
      font-size: 25px;
      font-weight: bold;
      color: #aaa;
    }
    a.active {
      color: rgb(235, 216, 216);
    }
  }
}